@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
:root{
    --primary-color: #6A513B;
    --dark-green: #455E28;
}
body {
    background-image: url("images/groot.png");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

.nav{
    background-color: var(--primary-color);
    color: white;
    padding-left: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
    border-radius: 0 1rem;
    margin: auto;
    display: block;
    text-align: center;
    height: 1.5cm;
}

#button-translate{
    color: aliceblue;
    padding: 1rem;
    margin: auto;
    display: block;
    border-radius: 0.5cm;
    background-color: #455E28;   
}

/* .footer{
    background-color: ;
    
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

} */
  .list-inline{
    display: inline;
    text-align: right;
    padding: 1rem;
    }
.footer{
    background-color: whitesmoke;
    border-top: 1rem;
    color: black;
    padding-left: 1rem;
    padding-top: 0.1rem;
    padding-inline-start: 0px;
    padding-bottom: 1rem;
    text-align: center;

}
.footer .link{
    color: black;
}



.heading-red-blog{
    padding-left: 3rem;

}
.social {
    font-size: 3rem;
}
.list-nobullets{
    list-style: none;
}
.link{
    text-decoration: none;
}